<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!--<link href='<%= htmlWebpackPlugin.options.favicon %>' rel="shortcut icon">-->
    <!--<title>开拓灯控系统</title>-->
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!--<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=21d2805b1b3b94b2c35975460006531f"></script>-->
  </body>
</html>
